/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body {
  h1, h2, h3, h4, h5, a {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
  }
}

.avancements {
  background-color: white;
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  margin: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  margin-bottom: 20px;
  border-radius: 3px;
  height: 70vh;
  h3 {
    margin-bottom: 20px;
    color: #2A418A;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .avancements h3 {
    font-size: 23px;
  }
}

.scroll {
  overflow:scroll; height:80%;
  background-color: white;
}

.accroche {
  h5 {
    color: white;
    border-bottom: 3px solid white;
    text-align: left;
  }
}

@media screen and (max-width: 992px) {
  .accroche h5 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
  }
}

.accroche2 {
  h5 {
    color: white;
    border-bottom: 3px solid white;
    text-align: right;
    margin-bottom: 25px;
  }
  img {
    float: right;
  }
}

@media screen and (max-width: 992px) {
  .accroche2  {
    h5 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
  }
  img {
    float: none;
  }
  }
}

@media screen and (max-width: 992px) {
  .powered {
    display: none;
  }
}

.logo1 {
  width: 130px;
}

.img {
  width: 100%;
  border: 3px solid white;
}

@media screen and (max-width: 992px) {
  .img {
  display: none;
  }
}

.card1 {
    border: 1px solid #e8ecf0;
    border-radius: 3px;
    padding: 12px;
  margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.card {
  background-color: #2A418A;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  h5 {
    margin: 0px;
    color: white;
    font-weight: lighter;
  }
}

.logo1 {
  margin-bottom: 15px;
}

.panel-body {
  text-align: justify;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
}

.signin {
  background-color: white;
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 15px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  h3 {
    margin-bottom: 20px;
    font-weight: lighter;
    color: #2A418A;
    border-bottom: 1px solid #2A418A;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-inputs {
    width: 60%;
    margin: auto;
label {
  letter-spacing: 2px;
  color: #2a418a;
}
}

.form-actions {
    width: 60%;
    margin: auto;
    margin-top: 35px;
label {
  letter-spacing: 2px;
  color: #2a418a;
}
}
